<footer>
  <a href="#" class="arriba">
    <i class="fa-solid fa-angles-up"></i>
  </a>
  <div class="redes">
    <a href="https://www.instagram.com/mateo.nerli/"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/mateo-nerli-39661a270/"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a href="https://github.com/MateoNerli">
      <i class="fa-brands fa-github"></i
    ></a>
    <a href="https://www.facebook.com/mateo.nerli/">
      <i class="fa-brands fa-facebook"></i
    ></a>
  </div>
</footer>
