.foo {
  background-color: #27292a;
  padding: 20px 0;
}
.footer {
  max-width: 1100px;
  margin: 0 auto;
}
.footer .container {
  max-width: 1100px;
  color: white;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  flex: 1;
  padding: 0 20px;
}

.footer-links h3 {
  border-bottom: 1px solid white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: white;
  text-decoration: none;
}

.infoBox {
  display: flex;
  flex-direction: column;
}

.datos {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.datos span {
  margin-right: 10px;
}

.sci {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sci li {
  margin-right: 10px;
}

.sci a i {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }
  .footer-links {
    margin-bottom: 20px;
  }
}
