<footer class="foo">
  <div class="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-links">
          <h3>Pagina</h3>
          <ul>
            <li><a href=""> Acerca de mi </a></li>

            <li>
              <a href=""> Estudios </a>
            </li>
            <li><a href=""> Skills </a></li>
            <li><a href=""> Proyectos </a></li>
          </ul>
        </div>
        <div class="footer-links">
          <div class="contacto conta info">
            <h3>Informacion</h3>
            <div class="infoBox">
              <div class="datos">
                <span><i class="fa-solid fa-map-pin"></i></span>
                <p>Buenos Aires, San Nicolas de los Arroyos</p>
              </div>
              <div class="datos">
                <span><i class="fa-solid fa-envelope"></i></span>
                <a href="">mnerli2003@gmail.com</a>
              </div>
              <div class="datos">
                <span><i class="fa-solid fa-phone"></i></span>
                <a href="">+54 3364512460</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-links">
          <h3>Redes Sociales</h3>
          <ul class="sci">
            <li>
              <a href="https://www.facebook.com/mateo.nerli" target="_blank"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/MateoNerli" target="_blank"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/mateo-nerli-39661a270/"
                target="_blank"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/mateo.nerli/?theme=dark"
                target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
