<section class="proyecto">
  <div class="proyect">
    <div class="titulo">
      <h2>Proyectos</h2>
    </div>
    <div class="proyectos" id="proyectos">
      <div data-aos="fade-left" class="pags">
        <a
          href="https://proyecto-labo-84dy8ej1b-cirojsch.vercel.app/"
          title=""
          target="_BLANK"
          ><img
            class="disable-selection"
            src="assets/img/CineHub.png "
            alt="CIENHUB"
        /></a>
        <div class="leng">
          <div id="circulo"><h6>HTML</h6></div>
          <div id="circulo"><h6>CSS</h6></div>
          <div id="circulo"><h6>JAVASCRIPT</h6></div>
        </div>
        <p>
          Esta fue una pagina, que se diseño, como proyecto final para la
          materia de laboratorio en la facultad, se utilizo una api de
          peliculas, para poder mostrarlas en la pagina, se utilizo un sistema
          de login, para poder acceder a la pagina, y poder guardar las
          peliculas, y poder verlas en otro momento.
        </p>
      </div>
      <div data-aos="fade-right" class="pags">
        <a href="https://memorama-autos.vercel.app/" title="" target="_BLANK"
          ><img class="disable-selection" src="assets/img/MEMORAMA.png " alt=""
        /></a>
        <div class="leng">
          <div id="circulo"><h6>HTML</h6></div>
          <div id="circulo"><h6>CSS</h6></div>
          <div id="circulo"><h6>JavaScript</h6></div>
        </div>
        <p>
          La página web que se presenta a continuación ha sido diseñada como
          proyecto para la facultad, la pagina consiste en el juego memorama, en
          el cual se debe encontrar las parejas de autos, para poder ganar el
          juego.
        </p>
      </div>
      <div data-aos="fade-left" class="pags">
        <a
          href="https://portfolio-6xheoz4bu-mateonerli.vercel.app/"
          title=""
          target="_BLANK"
          ><img
            class="disable-selection"
            src="assets/img/portfolio.png "
            alt=""
        /></a>
        <div class="leng">
          <div id="circulo"><h6>HTML</h6></div>
          <div id="circulo"><h6>CSS</h6></div>
          <div id="circulo"><h6>JavaScript</h6></div>
        </div>
        <p>
          La página web que se presenta a continuación ha sido diseñada como un
          portfolio, fue el primer portfolio que realice, en el cual se puede
          ver mis gustos, datos sobre mi. No utlize ningun framework, en
          comparacion a este que esta echo en angular.
        </p>
      </div>
      <div data-aos="fade-right" class="pags">
        <a
          href="https://mercado-liebre-dh-202k.onrender.com/"
          title=""
          target="_BLANK"
          ><img
            class="disable-selection"
            src="assets/img/mercadoLiebre.png "
            alt=""
        /></a>
        <div class="leng">
          <div id="circulo"><h6>HTML</h6></div>
          <div id="circulo"><h6>CSS</h6></div>
          <div id="circulo"><h6>JavaScript</h6></div>
          <div id="circulo"><h6>Node</h6></div>
          <div id="circulo"><h6>Express</h6></div>
        </div>
        <p>
          La página web que se presenta a continuación ha sido diseñada para el
          curso de Digital House en el cual se utilizo node y express para poder
          crear un servidor, y poder recrear la pagina de mercado libre. Donde
          se muestran los productos, tiene un login y un register.
        </p>
      </div>
    </div>
  </div>
</section>
