<section class="proyecto">
  <div class="proyect">
    <div class="titulo">
      <h2>Proyectos</h2>
    </div>
    <div class="proyectos" id="proyectos">
      <div class="pags">
        <a
          href="https://proyecto-labo-84dy8ej1b-cirojsch.vercel.app/"
          title=""
          target="_BLANK"
          ><img
            class="disable-selection"
            src="assets/img/CineHub.png "
            alt="CIENHUB"
        /></a>
        <div class="leng">
          <div id="circulo"><h6>HTML</h6></div>
          <div id="circulo"><h6>CSS</h6></div>
          <div id="circulo"><h6>JAVASCRIPT</h6></div>
        </div>
        <p>
          Esta fue una pagina, que se diseño, como proyecto final para la
          materia de laboratorio en la facultad, se utilizo una api de
          peliculas, para poder mostrarlas en la pagina, se utilizo un sistema
          de login, para poder acceder a la pagina, y poder guardar las
          peliculas, y poder verlas en otro momento.
        </p>
      </div>
      <div class="pags">
        <a href="https://memorama-autos.vercel.app/" title="" target="_BLANK"
          ><img class="disable-selection" src="assets/img/MEMORAMA.png " alt=""
        /></a>
        <div class="leng">
          <div id="circulo"><h6>HTML</h6></div>
          <div id="circulo"><h6>CSS</h6></div>
          <div id="circulo"><h6>JavaScript</h6></div>
        </div>
        <p>
          La página web que se presenta a continuación ha sido diseñada como
          proyecto para la facultad, la pagina consiste en el juego memorama, en
          el cual se debe encontrar las parejas de autos, para poder ganar el
          juego.
        </p>
      </div>
    </div>
  </div>
</section>
