<section class="section-projects">
  <!--     <div class="section"> -->
  <div class="carrousel">
    <div class="titulo">
      <h2>Proyectos</h2>
    </div>
    <div class="carrousel__container--cards">
      <!-- Card 1 -->
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture">
            <img src="../../../assets/img/CineHub.png" alt="" />
          </div>
          <div class="card__details">
            <ul>
              <li>CineHub</li>
              <li>Pagina de peliculas</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back">
          <div>
            <div class="card__price-box">
              <p class="card__price-1">CineHub</p>
              <p class="card__price-value card__value-1">
                Esta fue una pagina, que se diseño, como proyecto final para la
                materia de laboratorio en la facultad, se utilizo una api de
                peliculas, para poder mostrarlas en la pagina, se utilizo un
                sistema de login, para poder acceder a la pagina, y poder
                guardar las peliculas, y poder verlas en otro momento.
              </p>
            </div>
            <a
              href="https://proyecto-labo-84dy8ej1b-cirojsch.vercel.app/"
              target="_blank"
              class="btn__proyect btn__proyect-1 u-margin-bottom-small"
            >
              <div class="btn--flex">
                <span>Visit website</span>
                <i class="fa-solid fa-paper-plane"></i>
              </div>
            </a>
            <div class="div-flex">
              <a
                href="https://github.com/CiroJSCH/Proyecto-Labo-III"
                target="_blank"
                class="btn__proyect btn__proyect-1"
              >
                <div class="btn--flex">
                  <span> Git hub </span>
                  <i class="fa-brands fa-github"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
