.section-projects {
  background-color: #1e2326;
  overflow: hidden;
}

.titulo {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid #fff;
}
.carrousel {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.carrousel__flex--container {
  padding: 0rem 6rem 0rem 6rem;
}
.carrousel__text {
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 39.5em) {
  .carrousel__text {
    text-align: center;
  }
}
.carrousel__container--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 39.5em) {
  .carrousel__container--cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
  }
}

.card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 20px;
}

.card__side {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.card__side--front {
  position: absolute;
  background-color: #fff;
}

.card__picture {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card__picture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.card:hover .card__picture img {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.card__picture {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card__details ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.card__details li {
  margin-bottom: 10px;
  font-weight: bold;
}

.card__side--back {
  position: absolute;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.card__price-box {
  text-align: center;
  padding: 20px;
}

.card__price-value {
  font-size: 14px;
}

/* Estilos para los botones */
.btn__proyect {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--flex span {
  margin-right: 5px;
}
/* .ion-icon {
  font-size: 20px;
  margin-left: 5px;
} */
