.estudios {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}
.estudios .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.estudios .fila {
  display: flex;
  justify-content: space-between;
}
.estudios .fila .col {
  width: 49%;
  padding: 0 20px;
}
.estudios .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}
.estudios .fila .izquierda {
  border-right: 2px solid #252a2e;
}
.estudios .fila .derecha {
  border-left: 2px solid #252a2e;
}
.estudios .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #252a2e;
  position: relative;
}
.estudios .fila .item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.estudios .fila .item .casa {
  color: rgb(50, 173, 255);
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.estudios .fila .item .fecha {
  display: block;
  color: black;
  margin-bottom: 10px;
}
.estudios .fila .item p {
  line-height: 24px;
}
.estudios .fila .izq {
  border-right: 2px solid rgb(50, 173, 255);
  margin-right: 20px;
}
.estudios .fila .der {
  border-left: 2px solid rgb(50, 173, 255);
  margin-left: 20px;
}
.estudios .fila .item .conectori {
  height: 2px;
  background-color: rgb(50, 173, 255);
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}
.estudios .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(50, 173, 255);
  float: right;
  position: relative;
  bottom: 4px;
}
.estudios .fila .item .conectord {
  height: 2px;
  background-color: rgb(50, 173, 255);
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.estudios .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(50, 173, 255);
  float: left;
  position: relative;
  bottom: 4px;
}

@media (max-width: 768px) {
  .estudios .fila {
    flex-direction: column;
  }
  .estudios .fila .col {
    width: 100%;
    padding: 0;
  }
  .estudios .fila .izquierda {
    border-right: none;
  }
  .estudios .fila .derecha {
    border-left: none;
  }
  .estudios .fila .item {
    margin-bottom: 20px;
  }
  .estudios .fila .izq {
    border-right: none;
    margin-right: 0;
  }
  .estudios .fila .der {
    border-left: none;
    margin-left: 0;
  }
  .estudios .fila .item .conectori {
    display: none;
  }
  .estudios .fila .item .conectord {
    display: none;
  }
}
