<section class="estudios" id="estudios">
  <div class="contenido-seccion">
    <div class="fila">
      <div data-aos="fade-down-right" class="col izquierda">
        <h3>Educación</h3>
        <div class="item izq">
          <h4>Primaria</h4>
          <span class="casa">Colegio Pompeya</span>
          <span class="fecha">2008 - 2014</span>
          <div class="conectori">
            <div class="circuloi"></div>
          </div>
        </div>
        <div class="item izq">
          <h4>Secundaria</h4>
          <span class="casa">Colegio Misericordia</span>
          <span class="fecha">2015 - 2020</span>
          <div class="conectori">
            <div class="circuloi"></div>
          </div>
        </div>
        <div class="item izq">
          <h4>Tecnicatura</h4>
          <span class="casa">Tecnicatura en programacion en la UTN</span>
          <span class="fecha">2005 - 2008</span>
          <div class="conectori">
            <div class="circuloi"></div>
          </div>
        </div>
        <div class="item izq">
          <h4>Cursos</h4>
          <span class="casa">Animate a programar</span
          ><span class="fecha">Terminado</span>
          <span class="casa">Argentina programa</span
          ><span class="fecha">Terminado</span>
          <span class="casa">Digital hause</span
          ><span class="fecha">Cursando</span>
          <span class="casa">Codo a codo</span
          ><span class="fecha">Cursando</span>
          <div class="conectori">
            <div class="circuloi"></div>
          </div>
        </div>
      </div>

      <div data-aos="fade-down-left" class="col derecha">
        <h3>Experiencia de trabajo</h3>
        <div class="item der">
          <h4>Nunca tuve un trabajo fijo</h4>
          <span class="casa"></span>
          <span class="fecha">Buscando nuevas propuestas</span>
          <div class="conectord">
            <div class="circulod"></div>
          </div>
        </div>
        <div class="item der">
          <h4>Manejo de redes sociales para emprendimentos</h4>
          <span class="casa"></span>
          <span class="fecha">Actualmente</span>
          <div class="conectord">
            <div class="circulod"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
