<section>
  <div class="login-box">
    <form action="">
      <h2>Log in</h2>
      <div class="input-box">
        <span class="icon"><i name="mail"></i></span>
        <input type="email" required />
        <label for="">Email</label>
      </div>
      <div class="input-box">
        <span class="icon"><i name="lock-closed"></i></span>
        <input type="password" required />
        <label for="">Contraseña</label>
      </div>
      <div class="remember-forgot">
        <label for=""><input type="checkbox" />RECORDAR CONTRASEÑA</label>
        <a href="#">Forgot password?</a>
      </div>
      <a href="/">
        <button type="submit">INGRESAR</button>
      </a>
      <div class="register-link">
        <p>No tenes cuenta todavia?<a href="#">Registrarte</a></p>
      </div>
    </form>
  </div>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</section>
