<nav>
  <div class="nav container">
    <a href="/" class="logo">
      <img src="/assets/img/logoMn.png" class="logo-img" alt="Logo" />
    </a>
    <i (click)="setMenuOpen()" class="fa-solid fa-bars" id="menu-icon"></i>
    <ul class="navbar" [class.open]="isMenuOpen">
      <li><a href="#sobremi">Acerca de</a></li>
      <li><a href="#estudios">Estudios</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
    </ul>

    <a href="/login">
      <button type="button" class="boton btn btn-outline-light">Ingreso</button>
    </a>
  </div>
</nav>
